[submodule "lisp/.lisp/geiser"]
	path = lisp/.lisp/geiser
	url = http://git.sv.gnu.org/r/geiser.git
[submodule "lisp/.lisp/paredit"]
	path = lisp/.lisp/paredit
	url = http://mumble.net/~campbell/git/paredit.git
[submodule "lisp/.lisp/org-bullets"]
	path = lisp/.lisp/org-bullets
	url = https://github.com/sabof/org-bullets.git
